@charset "utf-8";

@font-face {
  font-family: 'hvoguenormal';
  src: url('/font/hvogue.eot');
  src: url('/font/hvogue.eot?#iefix') format('embedded-opentype'),
       url('/font/hvogue.woff2') format('woff2'),
       url('/font/hvogue.woff') format('woff'),
       url('/font/hvogue.ttf') format('truetype'),
       url('/font/hvogue.svg#hvoguenormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hvoguebold';
  src: url('/font/hvogueb.eot');
  src: url('/font/hvogueb.eot?#iefix') format('embedded-opentype'),
       url('/font/hvogueb.woff2') format('woff2'),
       url('/font/hvogueb.woff') format('woff'),
       url('/font/hvogueb.ttf') format('truetype'),
       url('/font/hvogueb.svg#hvoguebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  padding:0 15px;
}

@media (max-width: 767px) {
  .block {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.carousel-control.left,
.carousel-control.right{
  background:none;
}

.slides{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
}

.slick-list,
.slick-track{
  height:100%;
}

.slick-slide{
  padding: 0 15px;
}

.logo{
  width:121px;
  height:75px;
  right: 10px;
  top: 10px;
  position:absolute;
  display:block;
  z-index:999;
}

.logo img{
  width:100%;
}

.item{
  .image{
    img {
      width: 85%;
    }
  }

  h2{
    font-family:hvoguenormal;
    font-size:12px;
    text-align:left;
    text-transform:uppercase;
    margin:55px 0 5px 0;
  }

  h3{
    font-family:hvoguebold;
    font-weight:bold;
    font-size:13px;
    text-align:left;
    text-transform:uppercase;
    margin:5px 0 9px 0;
    line-height: 13px;
  }

  h3 span{
    font-family:hvoguenormal;
    font-weight:normal;
    font-size:13px;
    text-align:left;
    text-transform:uppercase;
    margin-bottom:9px;
  }

  p{
    font-family:hvoguenormal;
    font-size:11px;
    line-height:12px;
    text-align:left;
  }

  p.note{
    position: absolute;
    bottom: 1%;
  }

  .more{
    width: 91px;
    height: 34px;
    margin:0 auto;
    display:block;
    margin:20px auto!important;
    background-size:cover!important;
  }

  .more.animal{
    background:url(/images/buttons/more_animal.jpg) no-repeat;
  }

  .animal{
    color:#c494f1;
  }

  .tibi{
    color:#2d88df;
  }

  .cat{
    color:#fff8e0;
  }

  .opel{
    color:#dedee4;
  }

  .ludas{
    color:#e3ffef;
  }

  .einstein{
    color:#ffe793;
  }

  .opel2{
    color:#d5e5f2;
  }

  .space{
    color:#8b7ed7;
  }

  .ciroka{
    color:#ffdae2;
  }

  .danone{
    color:#b9b9b9;
  }

  .stamp{
    color:#41ceef;
  }

  .profile-pic{
    width:13%;
    margin-right:2%;
    float: left;
    margin-top: 55px;

    img{
      width:100%;
    }
  }

  .about{
    width:83%;
    float: left;
    margin-top: 55px;
  }

  .about p{
    font-size:15px;
  }

  .about p.hello{
    margin:15px 0;
    font-size:15px;
    font-family:'hvoguebold';
  }

  .end-slide .social,
  .about .social{
    float:left;
    display:block;
    margin: -4px 0 0 0;
    background-size:cover!important;
  }


  .end-slide,
  .about{
    .social.facebook{
      width:32px;
      height:35px;
      background:url(../../images/social_04.jpg) no-repeat;
    }

    .social.behance{
      width:55px;
      height:35px;
      background:url(../../images/social_01.jpg) no-repeat;
    }

    .social.dribbble{
      width:42px;
      height:35px;
      background:url(../../images/social_02.jpg) no-repeat;
    }

    .social.linkedin{
      width:43px;
      height:35px;
      background:url(../../images/social_03.jpg) no-repeat;
    }

    .social.instagram{
      width:53px;
      height:35px;
      background:url(../../images/social_05.jpg) no-repeat;
    }
  }
}
