@charset "utf-8";

@font-face {
  font-family: 'hvoguenormal';
  src: url('/font/hvogue.eot');
  src: url('/font/hvogue.eot?#iefix') format('embedded-opentype'),
       url('/font/hvogue.woff2') format('woff2'),
       url('/font/hvogue.woff') format('woff'),
       url('/font/hvogue.ttf') format('truetype'),
       url('/font/hvogue.svg#hvoguenormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hvoguebold';
  src: url('/font/hvogueb.eot');
  src: url('/font/hvogueb.eot?#iefix') format('embedded-opentype'),
       url('/font/hvogueb.woff2') format('woff2'),
       url('/font/hvogueb.woff') format('woff'),
       url('/font/hvogueb.ttf') format('truetype'),
       url('/font/hvogueb.svg#hvoguebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  padding:0 15px;
}

.carousel .item {
  width: 100%;
  min-height: 100%;
}
.carousel .item img {
  width: 80%;
}

@media (max-width: 767px) {
  .block {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.carousel-control.left,
.carousel-control.right{
  background:none;
}

.slides{
  h2{
    font-family:hvoguenormal;
    font-size:25px;
    text-align:left;
    text-transform:uppercase;
    margin-bottom:10px;
  }

  h3{
    font-family:hvoguebold;
    font-weight:bold;
    font-size:30px;
    text-align:left;
    text-transform:uppercase;
    margin-bottom:18px;
    line-height: 29px;
  }

  h3 span{
    font-family:hvoguenormal;
    font-weight:normal;
    font-size:24px;
    text-align:left;
    text-transform:uppercase;
    margin-bottom:18px;
  }
}
