@font-face {
  font-family: 'hvoguenormal';
  src: url("/font/hvogue.eot");
  src: url("/font/hvogue.eot?#iefix") format("embedded-opentype"), url("/font/hvogue.woff2") format("woff2"), url("/font/hvogue.woff") format("woff"), url("/font/hvogue.ttf") format("truetype"), url("/font/hvogue.svg#hvoguenormal") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hvoguebold';
  src: url("/font/hvogueb.eot");
  src: url("/font/hvogueb.eot?#iefix") format("embedded-opentype"), url("/font/hvogueb.woff2") format("woff2"), url("/font/hvogueb.woff") format("woff"), url("/font/hvogueb.ttf") format("truetype"), url("/font/hvogueb.svg#hvoguebold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 27, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
body {
  padding: 0 15px; }

@media (max-width: 767px) {
  /* line 32, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
  .block {
    margin-left: -20px;
    margin-right: -20px; } }
/* line 38, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.carousel-control.left,
.carousel-control.right {
  background: none; }

/* line 43, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.slides {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

/* line 51, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.slick-list,
.slick-track {
  height: 100%; }

/* line 56, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.slick-slide {
  padding: 0 15px; }

/* line 60, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.logo {
  width: 121px;
  height: 75px;
  right: 10px;
  top: 10px;
  position: absolute;
  display: block;
  z-index: 999; }

/* line 70, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.logo img {
  width: 100%; }

/* line 76, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .image img {
  width: 100%; }
/* line 82, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .image-big img {
  width: 75%;
  margin: 0 auto; }
/* line 89, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .image-big2 img {
  width: 85%;
  margin: 0 auto; }
/* line 95, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item h2 {
  font-family: hvoguenormal;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  margin: 65px 0 5px 0; }
/* line 103, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item h3 {
  font-family: hvoguebold;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  text-transform: uppercase;
  margin: 5px 0 9px 0;
  line-height: 13px; }
/* line 113, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item h3 span {
  font-family: hvoguenormal;
  font-weight: normal;
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 9px; }
/* line 122, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item p {
  font-family: hvoguenormal;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  margin-top: 10px; }
/* line 130, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item p.open {
  line-height: 17px; }
/* line 134, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item p.note {
  position: absolute;
  bottom: 1%;
  font-size: 9px;
  font-style: italic;
  margin: 0 !important; }
/* line 142, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .more {
  width: 91px;
  height: 34px;
  margin: 0 auto;
  display: block;
  margin: 20px auto !important;
  background-size: cover !important; }
/* line 151, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .more.animal {
  background: url(/images/buttons/more_animal.jpg) no-repeat; }
/* line 155, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .animal {
  color: #c494f1; }
/* line 159, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .tibi {
  color: #2d88df; }
/* line 163, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .cat {
  color: #fff8e0; }
/* line 167, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .opel {
  color: #dedee4; }
/* line 171, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .ludas {
  color: #e3ffef; }
/* line 175, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .einstein {
  color: #ffe793; }
/* line 179, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .opel2 {
  color: #d5e5f2; }
/* line 183, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .space {
  color: #8b7ed7; }
/* line 187, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .ciroka {
  color: #ffdae2; }
/* line 191, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .danone {
  color: #b9b9b9; }
/* line 195, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .stamp {
  color: #41ceef; }
/* line 199, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .profile-pic {
  width: 13%;
  margin-right: 2%;
  float: left;
  margin-top: 65px; }
  /* line 205, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
  .item .profile-pic img {
    width: 100%; }
/* line 210, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .about {
  width: 83%;
  float: left;
  margin-top: 65px; }
/* line 216, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .about p {
  font-size: 13px;
  line-height: 14px; }
/* line 221, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .about p.hello {
  margin: 15px 0;
  font-size: 15px;
  font-family: 'hvoguebold'; }
/* line 227, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .social-main .social,
.item .end-slide .social,
.item .about .social {
  float: left;
  display: block;
  margin: -4px 0 0 0;
  background-size: cover !important; }
/* line 240, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .end-slide .social.facebook,
.item .social-main .social.facebook,
.item .about .social.facebook {
  width: 33px;
  height: 32px;
  background: url("../../images/social_04.png") no-repeat; }
/* line 246, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .end-slide .social.behance,
.item .social-main .social.behance,
.item .about .social.behance {
  width: 49px;
  height: 32px;
  background: url("../../images/social_01.png") no-repeat; }
/* line 252, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .end-slide .social.dribbble,
.item .social-main .social.dribbble,
.item .about .social.dribbble {
  width: 35px;
  height: 32px;
  background: url("../../images/social_02.png") no-repeat; }
/* line 258, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .end-slide .social.linkedin,
.item .social-main .social.linkedin,
.item .about .social.linkedin {
  width: 35px;
  height: 32px;
  background: url("../../images/social_03.png") no-repeat; }
/* line 264, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .end-slide .social.instagram,
.item .social-main .social.instagram,
.item .about .social.instagram {
  width: 49px;
  height: 32px;
  background: url("../../images/social_05.png") no-repeat -1px 0; }
/* line 270, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .social-main {
  width: 201px;
  margin: 0 auto;
  top: 6px;
  position: relative; }
/* line 276, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .end-slide {
  width: 226px;
  margin: 75% auto 0 auto; }
/* line 281, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .help-open {
  width: 200px;
  top: 87px;
  position: relative;
  margin: 0 auto; }

/* line 290, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.animated {
  transition: all .35s; }

/* line 294, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.move-to-right {
  transform: translateX(500px); }

/* line 298, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.move-to-left {
  transform: translateX(-500px); }

/* line 302, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.move-to-default {
  transform: translateX(0) !important; }
