@font-face {
  font-family: 'hvoguenormal';
  src: url("/font/hvogue.eot");
  src: url("/font/hvogue.eot?#iefix") format("embedded-opentype"), url("/font/hvogue.woff2") format("woff2"), url("/font/hvogue.woff") format("woff"), url("/font/hvogue.ttf") format("truetype"), url("/font/hvogue.svg#hvoguenormal") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hvoguebold';
  src: url("/font/hvogueb.eot");
  src: url("/font/hvogueb.eot?#iefix") format("embedded-opentype"), url("/font/hvogueb.woff2") format("woff2"), url("/font/hvogueb.woff") format("woff"), url("/font/hvogueb.ttf") format("truetype"), url("/font/hvogueb.svg#hvoguebold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 27, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
body {
  padding: 0 15px; }

@media (max-width: 767px) {
  /* line 32, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
  .block {
    margin-left: -20px;
    margin-right: -20px; } }
/* line 38, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.carousel-control.left,
.carousel-control.right {
  background: none; }

/* line 43, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.slides {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

/* line 51, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.slick-list,
.slick-track {
  height: 100%; }

/* line 56, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.slick-slide {
  padding: 0 15px; }

/* line 60, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.logo {
  width: 121px;
  height: 75px;
  right: 10px;
  top: 10px;
  position: absolute;
  display: block;
  z-index: 999; }

/* line 70, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.logo img {
  width: 100%; }

/* line 76, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .image img {
  width: 85%; }
/* line 81, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item h2 {
  font-family: hvoguenormal;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  margin: 75px 0 5px 0; }
/* line 89, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item h3 {
  font-family: hvoguebold;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  text-transform: uppercase;
  margin: 5px 0 9px 0;
  line-height: 13px; }
/* line 99, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item h3 span {
  font-family: hvoguenormal;
  font-weight: normal;
  font-size: 13px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 9px; }
/* line 108, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item p {
  font-family: hvoguenormal;
  font-size: 11px;
  line-height: 12px;
  text-align: left; }
/* line 115, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item p.note {
  position: absolute;
  bottom: 1%; }
/* line 120, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .more {
  width: 91px;
  height: 34px;
  margin: 0 auto;
  display: block;
  margin: 20px auto !important;
  background-size: cover !important; }
/* line 129, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .more.animal {
  background: url(/images/buttons/more_animal.jpg) no-repeat; }
/* line 133, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .animal {
  color: #c494f1; }
/* line 137, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .tibi {
  color: #2d88df; }
/* line 141, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .cat {
  color: #fff8e0; }
/* line 145, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .opel {
  color: #dedee4; }
/* line 149, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .ludas {
  color: #e3ffef; }
/* line 153, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .einstein {
  color: #ffe793; }
/* line 157, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .opel2 {
  color: #d5e5f2; }
/* line 161, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .space {
  color: #8b7ed7; }
/* line 165, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .ciroka {
  color: #ffdae2; }
/* line 169, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .danone {
  color: #b9b9b9; }
/* line 173, /Users/adam/Projects/ruby/m.tibor.co/source/stylesheets/all.css.scss */
.item .stamp {
  color: #41ceef; }
