---
title: Tibor.co
---

<div class="container">
  <section class="block">
    <div id="myCarousel" class="carousel slide slides">
      <div class="carousel-inner">
        <div class="active item">
          <h2 class="animal">stamp design</h2>
          <h3 class="animal">animal cubs miniature sheet 2014</h3>
          <div class="image">
            <img src="images/slides_mobile/01.png" alt="">
          </div>
          <p class="animal description">
            Magyar Posta is issuing a commemorative miniature sheet entitled <br/>
            Animal Cubs featuring twelve young residents of the Budapest Zoo <br/>
            and Botanical Garden.
          </p>
        </div>
        <div class="item">
          <h2 class="animal">stamp design</h2>
          <h3 class="animal">animal cubs miniature sheet 2014</h3>
          <div class="image">
            <img src="images/slides_mobile/01.png" alt="">
          </div>
          <p class="animal description">
            Magyar Posta is issuing a commemorative miniature sheet entitled <br/>
            Animal Cubs featuring twelve young residents of the Budapest Zoo <br/>
            and Botanical Garden.
          </p>
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
    </div>
  </section>
</div>
